#include <windows.h>

101 ICON "../B5MShot.App/Assets/logo.ico"
1 RT_MANIFEST "app.manifest"
201 RCDATA "payload/B5MShot.msix"
202 RCDATA "payload/B5MShot.cer"

1 VERSIONINFO
 FILEVERSION 0,8,3,0
 PRODUCTVERSION 0,8,3,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904B0"
        BEGIN
            VALUE "CompanyName", "BU5INESSMAN"
            VALUE "FileDescription", "Установка B5MShot"
            VALUE "FileVersion", "0.8.3"
            VALUE "InternalName", "B5MShot-Setup.exe"
            VALUE "OriginalFilename", "B5MShot-Setup.exe"
            VALUE "ProductName", "B5MShot"
            VALUE "ProductVersion", "0.8.3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 1200
    END
END
