#include <windows.h>

101 ICON "../B5MShot.App/Assets/logo.ico"

1 VERSIONINFO
 FILEVERSION 0,8,4,0
 PRODUCTVERSION 0,8,4,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "BU5INESSMAN"
            VALUE "FileDescription", "B5MShot Explorer command"
            VALUE "FileVersion", "0.8.4"
            VALUE "InternalName", "B5MShot.ContextMenu.dll"
            VALUE "OriginalFilename", "B5MShot.ContextMenu.dll"
            VALUE "ProductName", "B5MShot"
            VALUE "ProductVersion", "0.8.4"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
